@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center Hero">
    <img src="/Images/TreeLogo.png" style="width:350px;height:200px;">
    <h1 class="Header1">CarbonCutters</h1>
    <p class="Header2">your journey, your impact, your rewards</p>
</div>

<<<<<<< HEAD
<div class="text-center">
    <button class="mainButton">Get Started</button>
    <button class="secondButton">Who we are</button>
</div>
=======
    <div class="text-center Hero">
        <h1 class="Header1">Carbon Cutters</h1>
        <p class="Header2">your journey, your impact, your rewards.</p>
    </div>

    <div class="text-center mt-5 mb-5">
        <button class="mainButton">Add trip now</button>
        <button class="secondButton">More about us</button>
    </div>
>>>>>>> frontend-index&addtrip
