@{
    ViewData["Title"] = "Home Page";
}

<img src="/images/Background.png" id="backgroundImg">

    <div class="text-center Hero">
        <h1 class="Header1">Carbon Cutters</h1>
        <p class="Header2">your journey, your impact, your rewards.</p>
    </div>

    <div class="text-center mt-5 mb-5">
        <button class="mainButton">Add trip now</button>
        <button class="secondButton">More about us</button>
    </div>