.podiumSection {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #608F73;
    border-radius: 10px;
    color: black;
    font-size: 18px;
}


.podiumContainer2 {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
}

.podiumContainer1 {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
}

.place-1, .place-2, .place-3 {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    justify-content: center;
}

.place-1 {
    background-color: #edb458;
    flex-grow: 0.6;
    max-width: 450px

}

.place-2 {
    background-color: #f2edeb;
    flex-grow: 0.3;
    max-width: 450px
}

#profilePicture {
   width: 55px;
    height: 55px;
    margin: auto;
    border-radius: 100px;
}

.place-3 {
    background-color: #eb9c5c;
    flex-grow: 0.3;
    max-width: 450px
}
.place-picture{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 100px;
}

    .place-picture img {
        width: 50px;
        height: 50px;
        margin: auto;
        border-radius: 100px;
    }

.picture {
    width: 50px;
    height: 50px;
    margin: auto;
}

.place-container{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
}

.place-number{
    display: flex;
    min-width: 40px;
    justify-content: start;
    text-align: center;
    font-size: 1.7em;
}

.place-text{
    display: flex;
    width: 200px;
    margin-inline: 10px;
    flex-direction: column;
}

.points {
    color: whitesmoke;
}

.points-1 {
    color: black;
}

.points-2 {
    color: black;
}

.points-3 {
    color: black;
}

.outerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.honorarySection{
    display: flex;
    justify-content: space-between;
}

.place-e, .place-o, .place-user{
    display: flex;
    justify-content: space-evenly;
    flex-grow: 0.49;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

.place-e, .place-user {
    background-color: #78ae8e;
}

.place-user {
    border: solid;
}

.place-o {
    background-color: #608F73;
}

.centered-element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
