html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

<<<<<<< HEAD
=======
@font-face {
    font-family: Breton-Bold;
    src: url(/fonts/Breton-Bold.otf);
}

@font-face {
    font-family: Breton-Book;
    src: url(/fonts/Breton-Book.otf);
}

/*fontss*/

.breton-bold {
    font-family: Breton-Bold;
}

.breton-book {
    font-family: Breton-Book;
}

>>>>>>> frontend-index&addtrip
html {
  position: relative;
  min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.NavbarItems {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Outfit', sans-serif;
    color: black;
    text-decoration: none;
}

.navbarContainer {
    display: flex;
    justify-content: flex-end;
}

footer {
    margin-top: 150px;
    background-color: #006A4F;
}

.Hero {
    margin-top: 120px;
}

.column {
    width: 25%;
}

.FooterTitle {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Outfit', sans-serif;
    color: white;
    text-decoration: none;
}

a:hover {
    color: #D2D2D2;
}

.FooterText {
    font-size: 20px;
    font-weight: 200;
    font-family: 'Outfit', sans-serif;
    color: white;
    text-decoration: none;
}

.Header1 {
    font-size: 40px;
    font-weight: 800;
    font-family: 'Outfit', sans-serif;
    color: #302F2F;
    text-decoration: none;
}

.Header2 {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
    color: #302F2F;
    text-decoration: none;
}

.mainButton {
    font-size: 24px;
    font-weight: 300;
    font-family: 'Outfit', sans-serif;
    color: white;
    text-decoration: none;
    background-color: #006A4F;
    border-radius: 5px;
    border: none;
    padding: 4px 15px 4px 15px;
}

.secondButton {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Outfit', sans-serif;
    color: #006A4F;
    text-decoration: underline;
    background-color: white;
    border-radius: 5px;
    border: none;
    padding: 4px 15px 4px 15px;
}

.mainButton:hover {
    font-size: 24px;
    font-weight: 300;
    font-family: 'Outfit', sans-serif;
    color: white;
    text-decoration: none;
    background-color: #01523D;
    border-radius: 5px;
<<<<<<< HEAD
    border: none;
    padding: 4px 15px 4px 15px;
}
=======
    border: solid;
    border-color: black;
    padding: 7px 60px 7px 60px;
}

.secondButton:hover {
    font-size: 32px;
    font-weight: 400;
    font-family: Breton-Book, sans-serif;
    color: black;
    background-color: #F8F8F8;
    border-radius: 5px;
    border: solid;
    border-color: black;
    padding: 7px 60px 7px 60px;
}

#backgroundImg {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 110%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
    background-image: url('/images/Background.png');
    background-size: cover;
}

>>>>>>> frontend-index&addtrip
