.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.calander {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
}

.dayEven {
    display: flex;
    flex-direction: column;
    flex-grow: 100;
    margin: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #006A4F;
    border-radius: 20px;
    color: white;
}

.dayUneven {
    display: flex;
    flex-direction: column;
    flex-grow: 100;
    margin: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #338872;
    border-radius: 20px;
    color: white;
}

.dateText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0;
}

.dateText div {
    display: flex;
    justify-content: center;
    border-color: white;
}

.line {
    background-color: white;
    height: 1px;
}

.arrows {
    padding: 10px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 20px;
}

.month {
    display: flex;
    text-align: center;
    align-self: center;
    font-size: 20px;
    min-width: 130px;
}

.tripDone {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    justify-content: center;
    color: black;
    background-color: rgba(255,255,255,0.7);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    width: 90%;
}

.tripSegment {
    border-radius: 5px;
    margin: 2px;
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}

.tripNotDone .tripSegment {
    background-color: rgba(255,255,255, 0.1);
}

.tripDone .tripSegment {
    background-color: rgba(0,0,0, 0.1);
}

.tripNotDone {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    justify-content: center;
    color: white;
    background-color: rgba(0,0,0,0.7);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    width: 90%;
}

.overlay {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.7);
    justify-content: center;
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 30%;
    margin: 100px;
    padding: 20px;
    background-color: #338872;
    border-radius: 20px;
    border: solid;
    border-width: 2px;
    border-color: black;
    font-size: 1.2em;
    color: white;
}

.popup div {
    justify-content: space-evenly;
}

.inputContainer {
    display: flex;
    margin: 2px;
    border-radius: 5px;
    color: black;
}

.link {
    display: flex;
    color: white;
    border: none;
    text-decoration: none;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 5px;
    border-radius: 5px;
}

.popup input, select {
    justify-content: center;
    display: flex;
    border: none;
    flex-direction: row;
    flex-grow: 1;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.popup label {
    display: flex;
    margin-inline: 10px;
    min-width: 100px;
}

.title {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
}

.backNext {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 10px;
}

.title1 {
    display: flex;
}

.title2 {
    display: flex;
}

.tripSegment {
    display: flex;
    background-color: rgba(255,255,255, 0.1);
    border-radius: 10px;
    margin: 1px;
}

.TripSegmentContainer{
    display: flex;
    margin: 5px;
    flex-direction: column;
    background-color: rgba(255,255,255, 0.5);
    border-radius: 10px;
    padding: 10px;
}

.optionHidden {
    display: none;
}

.optionShow {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    color: black;
}

    .optionShow div {
        background-color: rgba(25,254,255, 0.0);
        display: flex;
        flex-direction: row;
    }

.NewTripSegment{
    display: flex;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(255,255,255,0.5);
}

select {
    overflow: auto;
    overflow-y: auto;
}