.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.calander {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
    padding: 10px;
}

.dayEven {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #006A4F;
    border-radius: 20px;
    color: white;
}

.dayUneven {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #338872;
    border-radius: 20px;
    color: white;
}

.dateText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0;
}

.dateText div {
    display: flex;
    justify-content: center;
    border-color: white;
}

.line {
    background-color: white;
    height: 1px;
}

.arrows {
    padding: 10px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 20px;
}

.month {
    text-align: center;
    align-self: center;
    font-size: 20px;
    min-width: 130px;
}

.tripDone {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    justify-content: center;
    color: black;
    background-color: rgba(255,255,255,0.7);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 90%;
}

.tripDone div{
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.tripNotDone {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    justify-content: center;
    color: white;
    background-color: rgba(0,0,0,0.7);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 90%;
}

.overlay {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0.7);
    justify-content: center;
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 30%;
    margin: 100px;
    padding: 20px;
    background-color: #338872;
    border-radius: 20px;
    border: solid;
    border-width: 2px;
    border-color: black;
    font-size: 1.2em;
    color: white;
}

.popup div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.inputContainer {
    background-color: white;
    border-radius: 5px;
    color: black;
}

.link {
    color: white;
    border: none;
    text-decoration: none;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 5px;
    border-radius: 5px;
}

.popup input {
    justify-content: center;
    display: flex;
    border: none;
    flex-direction: row;
    flex-grow: 1;
    padding: 5px;
}

.popup label{
    display: none;
    margin-inline: 10px;
    min-width: 100px;
}