@using CarbonCuttersCore
@using CarbonCuttersView.Models

@model ProfileModel


<div>
    @Model.user.name | @Model.user.score.points
</div>

@foreach (Trip trip in Model.user.tripCollection.TripList){
    <div>
        @foreach (TripSegment segment in trip.segments){
            <div>
                @segment.vehicle.ToString()
            </div>
        }
    </div>
}