@using CarbonCuttersCore.Interface
@using CarbonCuttersView.Models
@using CarbonCuttersCore
@model TripsModel

<link rel="stylesheet" href="~/css/tripCalander.css">
<script type="text/javascript" src="/js/calander.js"></script>

<form class="overlay" method="post" asp-controller="Trip" asp-action="AddTrip">
    <div class="popup">
        <div class="title">
            <div class="title1">
                Trip
            </div>
            <div class="inputContainer">
                <label asp-for="date">date</label>
                <input asp-for="date" type="date"/>
            </div>
        </div>

        <div id="Original" class="TripSegmentContainer" style="display: none">
            <div class="title2">
                TripSegment
            </div>
            <div class="inputContainer">
                <label asp-for="startTime">start time</label>
                <input asp-for="startTime" type="time"/>
                -
                <input asp-for="endTime" type="time"/>
                <label asp-for="endTime">end time</label>
            </div>
            <div class="inputContainer">
                <label asp-for="vehicletype">Transport</label>
                <select id="input" asp-for="vehicletype" onchange="ChangeInput(this.value, Original)">
                    <option value="none" selected hidden>choose here</option>
                    <option value="Car">Car</option>
                    <option value="NoEmission">No emission</option>
                    <option value="PublicTransport">Public transport</option>
                </select>
            </div>
            <div class="optionHidden" id="CarOptions">
                <label asp-for="size">size</label>
                <select asp-for="size">
                    <option value="none" selected hidden>choose here</option>
                    <option value="small">small</option>
                    <option value="medium">medium</option>
                    <option value="large">large</option>
                </select>
                <label asp-for="fuel">fuel</label>
                <select asp-for="fuel">
                    <option value="none" selected hidden>choose here</option>
                    <option value="electric">electric</option>
                    <option value="petrol">petrol</option>
                    <option value="diesel">diesel</option>
                    <option value="gas">gas</option>
                    <option value="hybrid">hybrid</option>
                </select>
            </div>
            <div class="optionHidden" id="NoEmissionOptions">
                <label asp-for="type1">type</label>
                <select asp-for="type1" value="none">
                    <option value="none" selected hidden>choose here</option>
                    <option value="walking">walking</option>
                    <option value="biking">biking</option>
                </select>
            </div>
            <div class="optionHidden" id="PublicTransportOptions">
                <label asp-for="type2">type</label>
                <select asp-for="type2">
                    <option value="none" selected hidden>choose here</option>
                    <option value="tram">tram</option>
                    <option value="subway">subway</option>
                    <option value="bus">bus</option>
                    <option value="taxi">taxi</option>
                    <option value="train">train</option>
                </select>
            </div>
            <div class="inputContainer">
                <label asp-for="distance">distance</label>
                <input asp-for="distance" type="number" value="0" min="0"/>
            </div>
        </div>

        <div id="dumpContainer">

        </div>

        <div class="backNext">
            <div class="NewTripSegment" onclick="MakeNewForm(1)">add tripsegment</div>
            <div id="removeForm" class="NewTripSegment" onclick="MakeNewForm(-1)" style="display: none">remove tripsegment</div>
        </div>

        <div class="backNext">
            <a class="link" asp-controller="Trip" asp-action="Index">
                back
            </a>
            <input type="submit" value="add trip"/>
        </div>
    </div>
</form>

<script>
    MakeNewForm(1)






</script>