@{
	ViewData["Title"] = "About Us";
}


<div class="mb-5">
	<h1 class="Header1 mt-5 mb-4">About us</h1>
	<p>We are a team of five individuals working on a project for CGI. Our team includes Pim Kuijpers, Bart Veluwenkamp, Rick Smits and Rico Aarntzen. Our mission is to create a web application that enables employees to track and reduce their CO2 emissions while earning points for their efforts.</p>
	<p>Our web application is designed to provide employees with a comprehensive platform to monitor and reduce their carbon footprint. By tracking their emissions, employees can earn points that will be displayed on a leaderboard, motivating them to continue reducing their carbon footprint. Our goal is to inspire employees to take a proactive approach to environmental sustainability and promote a culture of eco-friendliness within the company.</p>
	<p>Our team members bring diverse skills and experiences to the project, including expertise in software development, environmental sustainability, and user interface design. We are committed to delivering a user-friendly, efficient, and effective web application that will have a positive impact on the environment. Through our collective efforts, we aim to contribute to a sustainable future.</p>
	<p>We recognize the importance of sustainability and are passionate about making a difference. We believe that our project has the potential to inspire positive changes in the way businesses approach environmental sustainability. By providing a platform that incentivizes and rewards environmentally friendly behavior, we hope to create a lasting impact on the environment and inspire others to take action.</p>
</div>

<div>
	<img src="/images/Instagram_logo.png" id="socialIcon">
	<img src="/images/Facebook_logo.png" id="socialIcon">
	<img src="/images/LinkedIn_logo.png" id="socialIcon">
</div>